body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.intro{
    background-color: #09143b;
    background-image: url("../images/circle.png"),
    url("../images/circle-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    background-position-x: 700px, -800px;
    background-position-y: 95%, 10%;
}

nav a {
    color: #ffffff;
}

.navbar-brand:hover{
    color: #ffffff;
}

.nav-link{
    transition: transform .3s ease;
}

.nav-link:hover{
    transform: scale(1.2);
    color: #ffffff;
}

.intro nav {
    padding: 30px 0;
}

.intro__text{
    margin-top: 100px;
    width: 90%;
    color: #ffffff;
}






/* Gallery section*/

.gallery__image{
    height: 300px;
    object-fit: cover;
    object-position: center;

}

.gallery__link{
    overflow: hidden;
}

.gallery__image__caption{
    background-color: rgba(0, 0, 0, 0.85);
    padding: 40px 20px 10px;
    width: 100%;
    color: #ffffff;
    clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
    transition: bottom .5s ease;
    position: absolute;
    bottom: -100%;
}

.gallery__link:hover .gallery__image__caption {
    bottom: 0;
}

.gallery__image__caption h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

.gallery__image__caption img {
    width: 30px;
}

.gallery__image_helf {
    height: 300px;
}

